<h3> Welcome Admin ! Select any one </h3>



<div class="container-fluid">
<div class="row">
  <div class="col-2 col-md-2 col-lg-2">
  </div>
  <div class="col-8 col-md-8 col-lg-8" style="padding-top:100px;">
      <div class="card" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);height:29rem">
        <div class="card-body" style="padding-top:9rem;">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="moveToForm();" style="background-color:#194769;border-radius:2.5rem;height:4rem;">Fill Form</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block mt-5" (click)="moveToUpload();" style="background-color:#194769;border-radius:2.5rem;height:4rem;">Upload File</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block mt-5" (click)="seeAllCandidates();" style="background-color:#194769;border-radius:2.5rem;height:4rem;">All Candidates</button>
</div>
</div>
</div>
<div class="col-2 col-md-2 col-lg-2">
</div>
</div>
</div>
